<div class="navigation">
    <div class="section">
        <p class="section-header">Topics</p>
        <ul>
            <li><a href="/">Homepage</a>
            <li><a href="/Enumerations">Enumerations</a>
        </ul>
    </div>

    {% for section in site.data.navigation %}
    <div class="section">
        <p class="section-header">{{ section.name }}</p>
        {% if section.children %}
        <ul>
            {% for child in section.children %}
            {% assign navitem = child %}
            {% include navigation-list.html %}
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endfor %}
</div>